@import "../../../css/config.css";
@import "../../../css/libs/caesar.css";

.footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;

  font-size: 0.4rem;

  &:before{
    @mixin divider;

    top:0;
  }

  &__icon-btn{
    opacity: 0.5;
    display: inline-block;
    width:1rem;
    height:1rem;

    transition: opacity 0.25s  var(--easeOutQuad);

    &:hover{
      opacity: 1;
    }
  }

  &__icon-path{
    fill:var(--primary-color);
  }
}
