@import "../../../css/config.css";
@import "../../../css/type.css";

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0;

  &:before{
    @mixin divider;

    bottom:0;
  }

  &__logo{
    display: inline-block;
    width:4rem;
    height:2rem;
    margin-right:0.5rem;

    &-path{
      stroke:var(--primary-color);
      fill:var(--primary-color);
    }
  }

  &__link{
    display: flex;
    align-items: center;
  }

  &__title{
    font-size: 2rem;
  }
}
