@import "../../../css/config.css";
@import "../../../css/type.css";

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0;

  &:before{
    @mixin divider;

    bottom:0;
  }

  &__logo{
    display: inline-block;
    width:2.2rem;
    height:1.4rem;

    &-path{
      stroke:var(--primary-color);
      fill:var(--primary-color);
    }
  }

  &__title{
    display: inline-block;
    margin:0 0 0 0.4rem;

    @mixin display-face;
    font-size: 1rem;
  }

  &__link{
    display: flex;
    align-items: center;
  }
}
