@import "../../../css/config.css";

.nav{
  &__desktop{
    width:100%;
    visibility: hidden;
    height: 0;
    overflow:hidden;
  }

  &__touch{
    width:100%;
    visibility: visible;
  }

  @media (--mobile-breakpoint){

    & .nav__touch{
      visibility: hidden;
    }

    & .nav__desktop{
      visibility: visible;
      height: auto;
    }
  }
}
