@import "./libs/reset.css";
@import "./libs/caesar.css";
@import "config.css";
@import "type.css";
@import './libs/bootstrap.css';

*, *:before, *:after {
  box-sizing: inherit;
  user-select:none;
}

html{
	padding: 0 10vw;
	margin: 0;
	font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;

  color: var(--type-color-light);

  // https://css-tricks.com/snippets/css/fluid-typography/
  //font-size: calc(var(--minimum-font-size)px + (var(--maximum-font-size) - var(--minimum-font-size)) * ((100vw - var(--minimum-viewport-width)px) / (var(--maximum-viewport-width) - var(--minimum-viewport-width))));
}
