@import "./libs/reset.css";
@import "./libs/caesar.css";
@import "config.css";
@import './libs/bootstrap.css';
@import './libs/bootstrap.theme.css';
@import 'bootstrap.custom.css';

*, *:before, *:after {
  box-sizing: inherit;
  user-select:none;
}

html{
	padding: 0 10vw;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  background-color: var(--background-color);

  // https://css-tricks.com/snippets/css/fluid-typography/
  //font-size: calc(var(--minimum-font-size)px + (var(--maximum-font-size) - var(--minimum-font-size)) * ((100vw - var(--minimum-viewport-width)px) / (var(--maximum-viewport-width) - var(--minimum-viewport-width))));
}

body{
  background-color: transparent;
}

h1, h2, h3{
  font-weight: bold;
}

h3{
  opacity: 0.8;
}
