:root{
	--minimum-font-size:24;
  --maximum-font-size:30;

  --minimum-viewport-width:320;
  --maximum-viewport-width:1200;

	--horizontal-padding: 5vw;

	--primary-color:#17141f;
	--secondary-color:#fff;

	/* media queries */
	@custom-media --ie11-only-hack (-ms-high-contrast:none);
	@custom-media --edge-only-hack (-ms-accelerator:true);
	@custom-media --mobile-breakpoint (min-width:650px);

	@define-mixin divider{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background-color: color(var(--primary-color) alpha(15%));
	}
}
